@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
@layer utilities {
    .parallax {
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .parallax-overlay {
        @apply absolute inset-0 bg-black opacity-80 mix-blend-multiply;
    }

    .parallax-content {
        @apply relative z-10;
    }
}
.hover\:bg-accent:hover {
    background-color: white! important;
}